*{
	margin: 0%;
	padding: 0%;
	background: #17202a;
}

#titulo{
	margin: 0%;
	margin-top: 0%;
	text-align: center;
	font-family: sans-serif;
	font-size: 500%;
	background: #f55247;
}

#h{
	margin: 2%;
	font-family: sans-serif;
	color: white;
}

#hora{
	margin: 2%;
	font-family: sans-serif;
	color: white;
}

#ksk{
	margin: 2%;
	font-family: sans-serif;
	font-size: 200%;
	text-align: center;
	color: white;
}

#s1{
	margin-right: 50%;
	width: 90%;
	margin-left: 5%;
}

#fo1{
	width: 15%;
	margin: 10%;
	margin-top: 1%;
	border-radius: 50%;
}

#in1{
	margin: 10%;
	margin-top: -10%;	
	font-family: sans-serif;
	font-size: 120%;
	color: white;
}

#s2{
	margin-left: 10%;
	width: 90%;
	margin-top: -23%;
}

#fo2{
	width: 15%;
	border-radius: 50%;
	margin-left: 40%;
	margin-top: -9%;
}

#in2{
	font-family: sans-serif;
	font-size: 120%;
	margin-left: 40%;
	margin-top: 0%;
	color: white;
}

#s3{
	margin-left: 18%;
	margin-top: 3%;
}

#fo3{
	margin-left: 16%;
	width: 15%;
	border-radius: 50%;
}

#in3{
	font-family: sans-serif;
	font-size: 120%;
	margin-left: 16%;
	margin-top: 0%;
	color: white;
}

#s4{
	margin-right: 50%;
	width: 90%;
	margin-left: 1%;
}

#fo4{
	width: 15%;
	margin: 10%;
	margin-top: 1%;
	border-radius: 50%;
}

#in4{
	margin: 10%;
	margin-top: -10%;	
	font-family: sans-serif;
	font-size: 120%;
	color: white;
}

#s5{
	margin-left: 10%;
	width: 90%;
	margin-top: -23%;
}

#fo5{
	width: 15%;
	border-radius: 50%;
	margin-left: 40%;
	margin-top: -8%;
}

#in5{
	font-family: sans-serif;
	font-size: 120%;
	margin-left: 40%;
	margin-top: 0%;
	color: white;
}

@media screen and (max-width: 1500px ){
	#s1{
		width: 50%;
		margin-left: 20%;
		margin-top: 10%;
		margin-right: 50%;
	}
	#s2{
		width: 50%;
		margin-left: 5%;
		margin-top: 10%;
		margin-right: 50%;
	}
	#s3{
		width: 50%;
		margin-top: 10%;
	}
	#s4{
		width: 50%;
		margin-left: 20%;
		margin-right: 50%;
		margin-top: 10%;
	}
	#s5{
		width: 50%;
		margin-left: 5%;
		margin-top: 10%;
		margin-right: 50%;
	}
	#ksk{
		font-size: 100%;
	}
	#hora{
		font-size: 100%;
	}
	#h{
		font-size: 100%;
	}
	#titulo{
		font-size: 100%;	
	}
	#in1{
		font-size: 80%;
	}
	#in2{
		font-size: 80%;		
	}
	#in3{
		font-size: 80%;		
	}
	#in4{
		font-size: 80%;		
	}
	#in5{
		font-size: 80%;		
	}
}